%footer
  .container
    .col-md-3
      %p.header 
        = t('.community')
      %ul
        %li
          %a{:href => ""} Twitter
        %li
          %a{:href => ""} Facebook
        %li
          %a{:href => ""} Google+
    .col-md-3
      %p.header 
        = t('.why') 
      %ul
        %li= link_to t('.fluency_journal'), ''
        %li= link_to t('.about_voiceable'), about_path
        %li= link_to t('.questions_and_answers'), questions_path
    .col-md-3
      %p.header 
        = t('.contribute') 
      %ul
        %li= link_to t('.how_to_contribute'), '/contribute'
        %li= link_to 'GitHub', ''
        %li= link_to t('.contact'), '/contact'
    .copyright-holder.col-md-3
      = image_tag('logo/main-logo.png', class: 'footer-logo')
      %p.mobile-nav.hidden
        %a{:href => "/about"} 
          = t('.about_voiceable')
        \-
        %a{:href => "/questions"}
          = t('.questions_and_answers')
        \-
        %a{:href => "/contribute"} 
          = t('.how_to_contribute')
        \-
        %a{:href => "/contact"} 
          = t('.contact')
      %p.copyright
        © #{Time.now.year} Voiceable