:css 
  .navbar-top{
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
  }

- if user_signed_in?
  %nav.navbar.navbar-default.navbar-top{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .nav-logo
          %a.navbar-brand{:href => "/"}
            = image_tag 'logo/main-logo.png', class: 'nav-logomark'
            %span.nav-logotype Voiceable
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            -# = 'class=active' if current_page?(notifications_path)
            -# = link_to(notifications_path, title: 'Notifications', class: 'nav-option') do
            = link_to(dashboard_path, title: 'Notifications', class: 'nav-option') do
              -# = new_notifications(current_user)
          %li
            -# = 'class=active' if current_page?(new_sit_path)
            -# = link_to(new_sit_path, title: 'Add sit', class: 'nav-option') do
            = link_to(dashboard_path, title: 'Add sit', class: 'nav-option') do
              %i.fa.fa-plus
              %span.nav-button-text New
          %li
            -# = 'class=active' if current_page?(user_path(current_user))
            -# = link_to(user_path(current_user), title: 'Me', class: 'nav-option') do
            = link_to(dashboard_path(current_user), title: 'Me', class: 'nav-option') do
              %i.fa.fa-user
              %span.nav-button-text Me
          %li
            -# = 'class=active' if current_page?(goals_path)
            -# = link_to(goals_path, title: 'Goals', class: 'nav-option') do
            = link_to(dashboard_path, title: 'Goals', class: 'nav-option') do
              %i.fa.fa-bullseye
              %span.nav-button-text Goals
          %li
            -# = 'class=active' if current_page?(explore_path)
            -# = link_to(explore_path, title: 'Explore', class: 'nav-option') do
            = link_to(dashboard_path, title: 'Explore', class: 'nav-option') do
              %i.fa.fa-globe
              %span.nav-button-text Explore
          %i.loading-indicator.fa.fa-spinner.fa-spin
        .navbar-header.navbar-right
          %ul.nav.navbar-nav
            %li
              %form.navbar-form.navbar-right{:action => "/search", :role => "search"}
                .form-group.search-box
                  %input.form-control{:name => "q", :placeholder => "Search", :type => "text"}
                    %input{:name => "type", :type => "hidden", :value => "sits"}
            %li
              -# = 'class=active' if current_page?(messages_path)
              -# = link_to(messages_path, class: 'pull-left', title: 'Inbox', class: 'nav-option') do
              = link_to(dashboard_path, class: 'pull-left', title: 'Inbox', class: 'nav-option') do
                %i.fa.fa-envelope
                -# %span.unread-count 
                  = current_user.unread_count
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = small_avatar_of(current_user, 'nav')
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to edit_user_registration_path do
                    %i.fa.fa-user
                    My profile
                %li
                  = link_to(destroy_user_session_path) do
                    %i.fa.fa-sign-out
                    Sign out