.jumbotron
  %h1 
    = t('.main_liner')
  %p 
    = t('.sub_liner') 
  %a{:href => new_user_registration_path}
    %button.sign-up.btn.btn-lg.btn-primary 
      = t('.sign_up')
.three-panes
  .pane.col-lg-offset-1.col-lg-3
    %i.fa.fa-book
    %h2
      = t('.step_one') 
    %p 
      = t('.step_one_description') 
  .pane.col-lg-3
    %i.fa.fa-globe
    %h2 
      = t('.step_two') 
    %p 
      = t('.step_two_description') 
  .pane.col-lg-3
    %i.fa.fa-bolt
    %h2 
      = t('.step_three')
    %p 
      = t('.step_three_description') 
.copy
  %h1 
    = t('.join_us') 
  %p
    = t('.join_us_description') 
    = link_to t('.join_for_free_today'), new_user_registration_path
  %p
    %strong 
      = t('.like_what_you_see') 
  