!!! 5
%html{lang: I18n.locale}
  %head  
    = render 'layouts/head'
  %body
    - if homepage? 
      = render "shared/brand_header"
      #div{:class => "#{@page_class}"}
        = yield
    - else 
      = render "shared/main_header"
      = render "shared/flashes"
      #div{:class => "page-content container #{@page_class}"}
        = yield
    .spacer
    = render 'shared/footer'
    -# = render 'layouts/analytics'
    
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :bottom_js
    -# :javascript
      MOBILE = #{!!browser.device.mobile?}

  
  
    

